%section#articles
  - for article in articles[0..3]
    %article.post
      %header
        %h2
          %a{ :href => article.path }= article.title
        %span.metadata= "#{article.date} — #{article.author}"

      %section.post-body
        = article.summary

- if archives.length > 3
  %section#archives
    = archives[3..-1]
