!!!
%html{ :lang => 'en' }
  %head
    %title= if title != @config[:title]; "#{title} | #{@config[:title]}"; else; title; end
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'verify-postrank', :content => '2u5vtik' }
    
    %link{ :rel => 'alternate', :type => 'application/atom+xml', :title => "THOMASJO", :href => 'http://feeds.feedburner.com/thomasjo' }
    %link{ :rel => 'stylesheet', :href => '/css/main.css' }

  %body
    %header#nav
      %a{ :href => '/' }
        %h1= @config[:author]

    %section#content
      = yield

    %footer
      = "Copyright &copy; 2009-#{Time.now.year} #{@config[:author]}. All rights reserved."

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5251876-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
