!!!
%html
  %head
    %title= if title != @config[:title]; "#{title} | #{@config[:title]}"; else; title; end
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8" }
    
    %link{ :rel => 'alternate', :type => 'application/atom+xml', :title => "#{title} - Feed", :href => '/index.xml' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Droid+Sans+Mono' }
    %link{ :rel => 'stylesheet/less', :type => 'text/css', :href => '/css/main.less' }
    %script{ :type => 'text/javascript', :src => '/js/less.min.js' }
    
  %body
    %header
      %h1
        %a{ :href => '/' }= @config[:title]

    %section#content
      = yield

  %footer
    