!!!
%html
  %head
    %title= if title != @config[:title]; "#{title} | #{@config[:title]}"; else; title; end
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8" }
    
    %link{ :rel => 'alternate', :type => 'application/atom+xml', :title => "#{title} Feed", :href => '/index.xml' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Droid+Sans+Mono' }

  %body
    %header#nav
      %h1
        %a{ :href => '/' }= @config[:title]

    %section#content
      = yield

    %footer
      = "Copyright &copy; 2009-#{Time.now.year} #{@config[:author]}. All rights reserved."

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5251876-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/css/main.css' }

